# Populate Daily Quotes

This notebook uploads daily stock information into the Daily_Stocks table.``

In [1]:
import pandas as pd
import yfinance as yf
import mysql.connector as sql

We begin by connecting to the database.

In [2]:
db = sql.connect(
    host="cis5500-final.c4vm11sv4nva.us-east-1.rds.amazonaws.com",
    username="admin",
    password="AeFZpryUI5q9PWneFsdb",
    database="Stock_And_News"
)

Next, we define a list of tickers to read fetch data for. Here, we use the tickers in the stock info table.

In [3]:
tickers = pd.read_csv("df_stock_info.csv")["Ticker"].values.tolist()

Here, we provide the SQL query to insert records into the table.

In [4]:
INSERT = "INSERT IGNORE INTO Daily_Stocks (date, open, high, low, close, adj_close, volume, dividends, stock_splits, ticker) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

Finally, we iterate over the tickers and add each day's data as a new record to the table.

In [10]:
for ticker in tickers[351:]:
    df = yf.Ticker(ticker).history(period="max", auto_adjust=False).reset_index()
    df["Date"] = df["Date"].map(lambda x: x.strftime("%Y-%m-%d"))
    df["ticker"] = ticker

    cursor = db.cursor()
    cursor.executemany(INSERT, df.values.tolist())
    db.commit()
    print(f"{ticker}:", cursor.rowcount, "rows were inserted.")

NVR: 9502 rows were inserted.
NXPI: 3186 rows were inserted.
ORLY: 7541 rows were inserted.
OXY: 10401 rows were inserted.
ODFL: 7919 rows were inserted.
OMC: 10854 rows were inserted.
ON: 5767 rows were inserted.
OKE: 10716 rows were inserted.
ORCL: 9341 rows were inserted.
OGN: 475 rows were inserted.
OTIS: 766 rows were inserted.
PCAR: 10854 rows were inserted.
PKG: 5832 rows were inserted.
PARA: 4361 rows were inserted.
PH: 10854 rows were inserted.
PAYX: 9982 rows were inserted.
PAYC: 2258 rows were inserted.
PYPL: 1951 rows were inserted.
PNR: 12590 rows were inserted.
PEP: 12820 rows were inserted.
PKI: 12640 rows were inserted.
PFE: 12820 rows were inserted.
PCG: 12820 rows were inserted.
PM: 3789 rows were inserted.
PSX: 2762 rows were inserted.
PNW: 12640 rows were inserted.
PXD: 6455 rows were inserted.
PNC: 11947 rows were inserted.
POOL: 6915 rows were inserted.
PPG: 10854 rows were inserted.
PPL: 10854 rows were inserted.
PFG: 5398 rows were inserted.
PG: 15419 rows were inserted.
PGR: 10854 rows were inserted.
PLD: 6381 rows were inserted.
PRU: 5362 rows were inserted.
PEG: 10906 rows were inserted.
PTC: 8393 rows were inserted.
PSA: 10683 rows were inserted.
PHM: 10854 rows were inserted.
QRVO: 2077 rows were inserted.
PWR: 6326 rows were inserted.
QCOM: 7884 rows were inserted.
DGX: 6617 rows were inserted.
RL: 6495 rows were inserted.
RJF: 10021 rows were inserted.
RTX: 15356 rows were inserted.
O: 7165 rows were inserted.
REG: 7409 rows were inserted.
REGN: 8063 rows were inserted.
RF: 10854 rows were inserted.
RSG: 6230 rows were inserted.
RMD: 7008 rows were inserted.
RHI: 10854 rows were inserted.
ROK: 10401 rows were inserted.
ROL: 10854 rows were inserted.
ROP: 7842 rows were inserted.
ROST: 9489 rows were inserted.
RCL: 7538 rows were inserted.
SPGI: 12640 rows were inserted.
CRM: 4728 rows were inserted.
SBAC: 5989 rows were inserted.
SLB: 10401 rows were inserted.
STX: 5112 rows were inserted.
SEE: 10854 rows were inserted.
SRE: 6232 rows were inserted.
NOW: 2707 rows were inserted.
SHW: 10854 rows were inserted.
SPG: 7378 rows were inserted.
SWKS: 9721 rows were inserted.
SJM: 7156 rows were inserted.
SNA: 12640 rows were inserted.
SEDG: 2020 rows were inserted.
SO: 10401 rows were inserted.
LUV: 10906 rows were inserted.
SWK: 10854 rows were inserted.
SBUX: 7749 rows were inserted.
STT: 10854 rows were inserted.
STLD: 6633 rows were inserted.
STE: 7768 rows were inserted.
SYK: 10854 rows were inserted.
SYF: 2184 rows were inserted.
SNPS: 7834 rows were inserted.
SYY: 12587 rows were inserted.
TMUS: 4018 rows were inserted.
TROW: 9327 rows were inserted.
TTWO: 6536 rows were inserted.
TPR: 5657 rows were inserted.
TRGP: 3101 rows were inserted.
TGT: 12640 rows were inserted.
TEL: 3979 rows were inserted.
TDY: 5877 rows were inserted.
TFX: 10854 rows were inserted.
TER: 12640 rows were inserted.
TSLA: 3213 rows were inserted.
TXN: 12820 rows were inserted.
TXT: 12640 rows were inserted.
TMO: 10854 rows were inserted.
TJX: 9014 rows were inserted.
TSCO: 7332 rows were inserted.
TT: 10854 rows were inserted.
TDG: 4293 rows were inserted.
TRV: 11947 rows were inserted.
TRMB: 8239 rows were inserted.
TFC: 10853 rows were inserted.
TYL: 10854 rows were inserted.
TSN: 10854 rows were inserted.
USB: 12590 rows were inserted.
UDR: 10854 rows were inserted.
ULTA: 3886 rows were inserted.
UNP: 10906 rows were inserted.
UAL: 4319 rows were inserted.
UPS: 5886 rows were inserted.
URI: 6363 rows were inserted.
UNH: 9693 rows were inserted.
UHS: 10523 rows were inserted.
VLO: 10400 rows were inserted.
VTR: 6522 rows were inserted.
VRSN: 6335 rows were inserted.
VRSK: 3395 rows were inserted.
VZ: 9922 rows were inserted.
VRTX: 7984 rows were inserted.
VFC: 10854 rows were inserted.
VTRS: 10854 rows were inserted.
VICI: 1322 rows were inserted.
V: 3787 rows were inserted.
VMC: 12640 rows were inserted.
WAB: 6998 rows were inserted.
WBA: 10854 rows were inserted.
WMT: 12760 rows were inserted.
WBD: 4465 rows were inserted.
WM: 8764 rows were inserted.
WAT: 6890 rows were inserted.
WEC: 10854 rows were inserted.
WFC: 12820 rows were inserted.
WELL: 10852 rows were inserted.
WST: 10854 rows were inserted.
WDC: 11201 rows were inserted.
WRK: 1958 rows were inserted.
WY: 12590 rows were inserted.
WHR: 12640 rows were inserted.
WMB: 10401 rows were inserted.
WTW: 5487 rows were inserted.
GWW: 12640 rows were inserted.
WYNN: 5144 rows were inserted.
XEL: 12640 rows were inserted.
XYL: 2886 rows were inserted.
YUM: 6428 rows were inserted.
ZBRA: 7968 rows were inserted.
ZBH: 5457 rows were inserted.
ZION: 10854 rows were inserted.
ZTS: 2560 rows were inserted.

Note, there were problems with row 350.